$mainColor: rgb(29, 169, 55)
$mainColorLight: rgb(128, 200, 84)
$great: rgb(66, 64, 64)
$ligthGreate: rgb(174, 174, 174)
*
    margin: 0
    padding: 0

.header
    font-size: 24px
    background-color: $ligthGreate
    padding: 1% 



    .hello-content
        text-decoration: none
        font-size: 29px
        color: $great
        padding: 0 1% 0 0
    .more-info
        text-decoration: none
        font-size: 24px
        color: white
    .more-info:hover
        font-size: 28px
        color: $great
    .hello-content:active
        color: black
    .more-info:active
        font-size: 29px
        color: black

    
.hello
    display: flex
    flex-direction: column
    p
        color: white
    hr
        margin: 4% 10% 4%
        height: 4px
        background-color: $mainColor
        border: none
    .last-hr
        margin: 4% 10% 0
.write
    padding: 0 10%
.content
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))
    grid-template-rows: minMax(100px auto)
    .main-card
        border: 1px solid $mainColor
        margin: 4% 
        display: flex
        flex-direction: column
        .head
            display: grid
            grid-template-columns: 1fr 14fr
            padding: 1%
            .number-card
                font-size: 24px
                display: flex
                tt 
                    align-self: center
            .header-in-content
                font-size: 30px
                margin: 0 4% 0 0
                text-align: center
        .card-img
            padding: 0 1% 1% 1%
            img
                width: 100%
                border-radius: 16px
        .content
            font-size: 21px
            border-left: 1px solid $ligthGreate
            margin: 0 4% 1% 4%
            padding: 0 0 0 .5% 
            display: flex
            flex-direction: row
            justify-content: space-between
        .card-a
            display: flex
            border: 1px solid $mainColor
            border-radius: 50px
            padding: 0 14px
            height: 27px
            align-self: center
            a
                align-self: center
                color: black
                text-decoration: none
        .card-a:hover
                background-color: $mainColorLight
        .card-a:active
                background-color: $mainColor
.footer
    background-color: silver
    min-height: 100px
    img
        width: 150px
        height: 60px
        padding: 1%
    .vk 
        width: 50px
        height: 50px
        padding: 1% 1% 1% 1.1%
.main-conteiner
    height: 85%
@media ( min-width: 800px )
    .header-in-content
        font-size: 30px
    .content
        p
            font-size: 40px
    .header
        padding: 0.5%       

@media (min-width: 1200px)
    .header-in-content
        font-size: 40px
        p
            font-size: 40px
@media ( min-width: 800px)
    .hello
        hr
            margin: 4% 10% 1% 10%
        .last-hr
            margin: 1% 10% 0 10%
@media ( min-width: 1000px )
    .hello
        .hr
            margin: 1% 10%
        .last-hr
            margin:  1% 10%
@media ( max-width: 500px )
    .content
        grid-template-columns: repeat(auto-fill, minmax(200px, 500px))
@media ( max-width: 700 )
    .main-card
        .content
            flex-direction: column
    


            

