* {
  margin: 0;
  padding: 0;
}

.header {
  font-size: 24px;
  background-color: rgb(174, 174, 174);
  padding: 1%;
}
.header .hello-content {
  text-decoration: none;
  font-size: 29px;
  color: rgb(66, 64, 64);
  padding: 0 1% 0 0;
}
.header .more-info {
  text-decoration: none;
  font-size: 24px;
  color: white;
}
.header .more-info:hover {
  font-size: 28px;
  color: rgb(66, 64, 64);
}
.header .hello-content:active {
  color: black;
}
.header .more-info:active {
  font-size: 29px;
  color: black;
}

.hello {
  display: flex;
  flex-direction: column;
}
.hello p {
  color: white;
}
.hello hr {
  margin: 4% 10% 4%;
  height: 4px;
  background-color: rgb(29, 169, 55);
  border: none;
}
.hello .last-hr {
  margin: 4% 10% 0;
}

.write {
  padding: 0 10%;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: minMax(100px auto);
}
.content .main-card {
  border: 1px solid rgb(29, 169, 55);
  margin: 4%;
  display: flex;
  flex-direction: column;
}
.content .main-card .head {
  display: grid;
  grid-template-columns: 1fr 14fr;
  padding: 1%;
}
.content .main-card .head .number-card {
  font-size: 24px;
  display: flex;
}
.content .main-card .head .number-card tt {
  align-self: center;
}
.content .main-card .head .header-in-content {
  font-size: 30px;
  margin: 0 4% 0 0;
  text-align: center;
}
.content .main-card .card-img {
  padding: 0 1% 1% 1%;
}
.content .main-card .card-img img {
  width: 100%;
  border-radius: 16px;
}
.content .main-card .content {
  font-size: 21px;
  border-left: 1px solid rgb(174, 174, 174);
  margin: 0 4% 1% 4%;
  padding: 0 0 0 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .main-card .card-a {
  display: flex;
  border: 1px solid rgb(29, 169, 55);
  border-radius: 50px;
  padding: 0 14px;
  height: 27px;
  align-self: center;
}
.content .main-card .card-a a {
  align-self: center;
  color: black;
  text-decoration: none;
}
.content .main-card .card-a:hover {
  background-color: rgb(128, 200, 84);
}
.content .main-card .card-a:active {
  background-color: rgb(29, 169, 55);
}

.footer {
  background-color: silver;
  min-height: 100px;
}
.footer img {
  width: 150px;
  height: 60px;
  padding: 1%;
}
.footer .vk {
  width: 50px;
  height: 50px;
  padding: 1% 1% 1% 1.1%;
}

.main-conteiner {
  height: 85%;
}

@media (min-width: 800px) {
  .header-in-content {
    font-size: 30px;
  }
  .content p {
    font-size: 40px;
  }
  .header {
    padding: 0.5%;
  }
}
@media (min-width: 1200px) {
  .header-in-content {
    font-size: 40px;
  }
  .header-in-content p {
    font-size: 40px;
  }
}
@media (min-width: 800px) {
  .hello hr {
    margin: 4% 10% 1% 10%;
  }
  .hello .last-hr {
    margin: 1% 10% 0 10%;
  }
}
@media (min-width: 1000px) {
  .hello .hr {
    margin: 1% 10%;
  }
  .hello .last-hr {
    margin: 1% 10%;
  }
}
@media (max-width: 500px) {
  .content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
  }
}
@media (max-width: 700) {
  .main-card .content {
    flex-direction: column;
  }
}/*# sourceMappingURL=HELLOCONTENT.css.map */